<<<<<<< HEAD
.four-0-four-image{
    display: block;
    margin: 60px auto;
=======
.four-0-four-image {
    display: block;
    margin: 60px auto;
    max-width: 500px;
    width: 100%; /* Ensure the image takes up the full width */
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Set a maximum height for the rectangular image */
    object-fit: cover; /* Ensure the image covers the container */
>>>>>>> feature_version_3
}

.four-0-four-msg{
    text-align: center;
    text-transform: capitalize;
    color: #383838;
}

.four-0-four-msg a{
    color: #383838;
}